<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
  </head>
  <body style="margin:0px; 
    background-repeat: no-repeat;
    background-image: url(https://cdn.shopify.com/s/files/1/0736/8771/products/N4P-FOREST-004.jpg?v=1442583210);
    background-size:1920px 1080px;">
    <input type="hidden" id="csrftoken" value="{{csrf_token}}">
    <div id="root"></div>
  </body>
</html>
