<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style> a {text-decoration: none; color: #555555;} </style>
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two|PT+Sans" rel="stylesheet">
    <title>Profile Page</title>
  </head>
  <body style="margin:0px; background:#F6F6F6;">
    <input type="hidden" id="csrftoken" value="{{csrf_token}}">
    <div id="root"></div>
    <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` in this folder.
      To create a production bundle, use `npm run build`.
    -->
  </body>
</html>
